@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Gemunu+Libre:wght@300&family=IBM+Plex+Sans&family=Lobster&family=Sonsie+One&family=Ubuntu:wght@300&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    font-family: 'IBM Plex Sans', sans-serif;
}
.Link4 a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.Link5 a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.Link6 a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.Link7 a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.TextBox22{
    color: rgb(38, 38, 38);

}
.TextBox24{
    /* font-weight: ; */
}
.TextBox76{
    font-weight: bold;
}
.TextBox72{
    font-weight: bold;
    font-size: 22;
}
.Flex69{
    font-weight: bold;
    
}
.Flex76{
    font-weight: bold;
    
}
.TextBox168{
    font-weight: bold;
}
.TextBox189{
    font-weight: bold;
}
.TextBox20{
    font-weight: bold;
}
.TextBox19{
    font-weight: bold;
}
.TextBox24{
    font-weight: bold;
}
.Flex20 {
    font-weight: bold;
}
.Flex21 {
    font-weight: bold;
}
.TextBox40{
    font-weight: bold;
}
.Flex16 {
    font-weight: bold;
}
.Flex17 {
    font-weight: bold;
}
.Flex26 {
    font-weight: bold;
}
.Flex25 {
    font-weight: bold;
}
.div44457{
    font-weight: bold;
}
.Flex30 {
    font-weight: bold;
}
.Flex31 {
    font-weight: bold;
}
.TextBox47{
    font-weight: bold;
}
.TextBox54{
    font-weight: bold;
}